 body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

header nav .logo {
  margin-top: 3%;
}

.logo {
  margin-left: 3%;
  font-size: 1.5em;
}

nav {
  margin-top: 1%;
  margin-left: 24%;
}

nav a {
  margin-left: 70px;
}

nav a:hover {
  /* text-decoration: underline 4pxgb(245, 111, 9) r; */
  border-bottom: 3px solid rgb(245, 111, 9);
}

a {
  text-decoration: none;
  color: white;
  padding-bottom: 3px;
}

.contact {
  border: 2px solid rgb(245, 111, 9);
  background-color: rgb(245, 111, 9);
  height: 20px;
  margin-right: 3%;
  padding: 10px 40px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

           /* 1e sction */

        
       
.section1 p em{
  font-style: normal;
  color:rgb(245, 111, 9);
}


.section1 {
  position: relative;
  margin-top: 2%;
  margin-left: 9%;
  margin-right: 6%;
  text-align: center;
  padding-bottom: 10%;
} 

.global{
    padding-top: 2%;
}

/* Les propriétés valeurs pour une image adaptative */

.global img{
  max-width: 100%;
  height: auto;
}
 

/* 2e section */

.section2{
  margin-top: 4%;
  margin-left: 9%;
  margin-right: 6%;
  text-align: center;
  padding-bottom: 10%;
  position: relative;
  
}

.contenaire_section2 {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  background-color: black;
  margin-top: 4%;
  padding: 2%;
  
}

.client1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* border-left: 2px solid whitesmoke; */
  line-height: 0.5em;
  padding-left: 2%;
  text-align: left;
}
.client {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-left: 2px solid whitesmoke;
  padding-left: 9%;
  line-height: 1em;
  
}

.client3 {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-left: 2px solid whitesmoke;
  padding-left: 9%;
  line-height: 1.2em;
  padding-right: 4%;
}

.client img,
.client1 img, .client3 img  {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.client_90 {
  margin-left: 10px;
}

/* 3e section */


.section3{
  position: relative;
    background-color: rgba(109, 87, 71, 0.394);
    margin: auto;
    
    /* width: 1000px; */
}

.parag1_section3{
  text-align: center;
  padding: 5%  0% 5% 0% ;
}

 
.nom_form{
    display: flex;
    /* justify-content: space-around; */
    gap: 30px;  
}

label{
    display: block;
    margin-top: 3%;
    color: rgb(66, 65, 62);
}

.first input{
    width: 250px; 
    height: 30px;
    border: 1px solid  rgb(136, 133, 132) ;
    border-radius: 5px;
    background-color: rgb(106, 103, 102, 0.584);
   
}

.mail input, .sms input{
    width: 555px; ;
    height: 30px;
    border: 1px solid  rgb(136, 133, 132) ;
    background-color: rgba(106, 103, 102, 0.584);
    border-radius: 5px;
}

.sms input{
    /* width: 535px;  */
    height: 150px;
}

form{
    /* position: relative; */
    width: 500px;
    /* border: 2px solid; */
    margin: auto;
    padding-left: 5%;
    padding-bottom: 5%;
   
}

 form .submit1{
  position: relative;
  width: 250px; 
  height: 40px;
  border: 2px solid rgb(245, 111, 9);
  background-color:rgb(245, 111, 9) ;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin-left: 293px;
  margin-top: 6%;
  font-size: 1em;
}

.vector3{
  position: absolute;
  top: 0%;
  right: 0;

}

.vector4{
  position: absolute;
  bottom: 0;
}

         /* 4e section */

         
.section4 {
  margin-left: 9%;
  margin-top: 6%;
  padding-bottom: 9%;
}

.parag2_section4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(29, 17, 17, 0.816);
  margin-right: 9%;
  padding-left: 56px;
  padding: 2%;
 
}

input{
  position: relative;
  height: 40px;
  width: 310px;
  border: 2px solid rgb(224, 208, 208);
  background-color: white;
  border-radius: 3px;
  margin-right: 20px;
  

}
.enter{
  margin-top: 3%;
}

form .submit2{
  position: absolute;
  background-color: rgb(245, 111, 9);
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 3px;
  border: 2px solid rgb(245, 111, 9);
  top: 57.5px;
  bottom: 0;
  right: 185px;
}


/* pied de page */

footer{
  
  background-color: rgba(16, 16, 32, 0.724);
  font-size: 0.8em;
  
}


.contenaire{
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  justify-content: space-between;
 
}

.about_footer p{
  line-height: 0.7em;
}

.liens_footer img{
  height: 50px;
}

.liens_footer a{
  margin-left: -10px;
}

.copy{
  /* width: 250px;
  margin: auto; */
  text-align: center;
  padding: 2%;
  border-top: 2px solid rgb(71, 66, 66);
}